.page-footer {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	height: 10vh;
}

main {
	margin-bottom: 10vh;
}

.thumbnail-img {
	width: 128px;
}

header nav, footer.page-footer {
	background-color: #143646;
	color: #F3F3F3;
}

.upvote {
	color: #4CAF50 !important;
}

.downvote {
	color: #F44336 !important;
}
