footer.page-footer {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	height: 10vh;
	margin-top: 0;
	padding-top: 0;
}

footer.page-footer .row {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 100%;
}

main {
	margin-bottom: 10vh;
}

.thumbnail-img {
	width: 128px;
}

header nav, footer.page-footer {
	background-color: #143646;
	color: #F3F3F3;
}

.upvote {
	color: #4CAF50 !important;
}

.downvote {
	color: #F44336 !important;
}

#play_pause, #next, #search-button {
	cursor: pointer;
}